@tailwind base;
@tailwind components;
@tailwind utilities;

/* =======================
SECTION === 'GENERAL STYLES' === SECTION
======================= */

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  body.dark {
    @apply bg-gray-900;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.1em;
}

/* =======================
SECTION === 'NAV ITEMS' === SECTION
======================= */

@layer base {
  .nav-item {
    @apply relative text-lg transition-all duration-200 cursor-pointer hover:text-slate-400 dark:before:bg-slate-400;
  }
}

.nav-item::before {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #0d0d0d;
  position: absolute;
  top: -10px;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::before {
  width: 100%;
}

.cart:hover::before {
  width: 0%;
}

/* =======================
SECTION === 'MAIN' === SECTION
======================= */
.homescreen {
  background-image: url('../public/images/folding-animation3.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__product-content {
  animation: appear 0.5s ease-in-out;
}

.card {
  border: 1px solid black;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.192);
  position: relative;
}

.card::before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    black 50%,
    rgba(0, 0, 0, 0) calc(50% + 1px),
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 10;
}

.card.dark::before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  border: 1px solid white;
  border-left: none;
  border-top: none;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    white 50%,
    rgba(0, 0, 0, 0) calc(50% + 1px),
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 10;
}

.card .message {
  height: 0px;
  color: #fff;
  overflow: hidden;
  background-color: #000000;
  transition: all 0.5s ease-out;
}

.card.active .message {
  animation: height 1.5s linear;
}

.image-wrapper img {
  filter: drop-shadow(1px 1px 2px rgb(255, 255, 255));
}

/* =======================
SECTION === 'CHECKOUT PAGE' === SECTION
======================= */

@layer utilities {
  .checkout__image-wrapper {
    @apply flex items-center justify-center w-[50%] mx-auto my-4 p-4 bg-slate-900;
  }
}

@layer utilities {
  .checkout__form input,
  select {
    @apply w-[250px] text-sm p-4 mb-8 border-2 border-gray-300 focus:outline-none focus:border-slate-400 dark:focus:border-slate-400 transition-all duration-200 dark:bg-slate-600 dark:text-gray-400;
  }
}

@layer utilities {
  [class*='checkout__form'] {
    @apply p-4;
  }
}

@layer utilities {
  [class*='checkout__form'] label {
    @apply absolute z-50 px-2 text-black transition-all duration-200 bg-white -top-3 left-2 dark:bg-slate-600 dark:text-white;
  }
}

@layer utilities {
  .checkout__form input:focus ~ label {
    @apply bg-transparent -top-6;
  }
}

@layer utilities {
  input:focus {
    @apply mt-2;
  }
}

/* =======================
SECTION === 'BUTTONS' === SECTION
======================= */

@layer components {
  .btn-primary {
    @apply block px-4 py-2 transition-all duration-200 bg-gray-800 border-2 border-none text-slate-50 hover:scale-105;
  }
}

@layer components {
  .btn-secondary {
    @apply block px-4 py-2 transition-all duration-200 border-2 border-slate-300 hover:bg-slate-100 hover:scale-105;
  }
}

.cart-btn {
  position: relative;
  width: 150px;
  height: 50px;
  overflow: hidden;
}

.cart-btn::before {
  content: 'Add to cart';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.cart-btn::after {
  content: url('/images/cart.svg');
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.cart-btn:hover::after {
  transform: translateY(-93%);
}

.cart-btn:hover::before {
  transform: translateY(-100%);
}

.cart-btn:active {
  transform: scale(0.9);
}

/* .cart-btn:active::after {
  animation: drive 1s ease-in-out;
} */

/* =======================
SECTION === 'SCROLLBAR STYLES' === SECTION
======================= */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* =======================
SECTION === 'RANGE INPUT STYLING' === SECTION
======================= */

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #fff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: #fff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #fff;
}
input[type='range']:focus::-ms-fill-upper {
  background: #fff;
}

/* =======================
SECTION === 'ANIMATIONS' === SECTION
======================= */

.bottom-top {
  animation: bottomTop 0.7s ease-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bottomTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes height {
  0% {
    height: 0px;
  }
  20%,
  30%,
  40%,
  50%,
  55%,
  65%,
  75%,
  80% {
    height: 80px;
  }

  92% {
    height: 60px;
  }

  95% {
    height: 40px;
  }

  98% {
    height: 20px;
  }

  100% {
    height: 0;
  }
}

@keyframes appearHeight {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

.appear-height {
  animation: appearHeight 0.25s ease-out;
}

/* @keyframes drive {
  0% {
    transform: translateY(-100%);
  }

  30% {
    transform: translateY(-100%) translateX(200%);
  }

  100% {
    transform: translateY(-100%);
  }
} */
